Source: qdigitalmeter
Section: python
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 python3-all,
 python3-poetry-core,
 python3-qtpy,
 python3-setuptools
Standards-Version: 4.6.2
Homepage: https://github.com/FrancescoCeruti/qdigitalmeter.git
Vcs-Git: https://github.com/s0600204/qdigitalmeter.git

Package: python3-qdigitalmeter
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Description: Digital Meter for PyQt5/6 and PySide2/6
 A simple digital peak meter for use with PyQt5, PyQt6, PySide2, and PySide6.
